body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#titulo {
    text-align: center;
    color: #333;
}

.login-box {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-box label {
    display: block;
    margin-top: 10px;
    color: #555;
}

.login-box input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #236326;
}

.mensaje {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: none;
    /* inicialmente oculto */
}

.mensaje.exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.mensaje.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}